<p id="notice"><%= notice %></p>

<%= image_tag(@recipe.image_url) %>
<h1><%= @recipe.title %></h1>
<p><%= @recipe.content %></p>
<p><%= @recipe.user.name %></p>
<p><%= @recipe.user.profile %></p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

<%= simple_form_for(Comment.new) do |f| %>
	<%= f.hidden_field :recipe_id, value: @recipe.id %>
	<%= f.input :content %>
	<%= f.submit "코멘트 등록" %>
<% end %>

<% @comments.each do |comment| %>
	<div class="well">
		<%= comment.user.name %>: 
		<%= comment.content %>
		<%= comment.created_at %>
		<% if comment.user == current_user %>
			<%= link_to "X", comment, method: :delete, data: { confirm: "정말 삭제하시겠습니까?" } %>
		<% end %>
	</div>
<% end %>